<template>
  <div>
    <div
      class="grid grid-cols-1 gap-y-10 md:grid-cols-2 gap-x-10 lg:gap-x-20 py-14 md:py-20 items-center"
    >
      <div class="text-gray-700 lg:text-lg">
        <p>
          Lingua Libre is a project of the association Wikimédia France which aims to build a
          collaborative, multilingual, audiovisual corpus under free licence in order to:
        </p>
        <ul class="list-disc ml-6 mt-4 flex flex-col gap-y-3">
          <li>
            Expand knowledge <span class="font-semibold">about languages</span> and
            <span class="font-semibold">in languages</span> in an audiovisual way on the web, on
            Wikimedia projects and outside
          </li>
          <li>
            Support the development of
            <span class="font-semibold">online language communities</span> — particularly those of
            poorly endowed, minority, regional, oral or signed languages — in order to help
            communities accessing online information and to ensure the vitality of the languages of
            these communities.
          </li>
        </ul>
      </div>

      <div class="-order-1 md:order-1 max-w-[500px] mx-auto">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Lingua_libre_illustration_-_interface.svg/660px-Lingua_libre_illustration_-_interface.svg.png"
          alt=""
        />
      </div>
    </div>

    <div class="w-[200%] -translate-x-[25%] bg-light-blue py-8 md:py-12 flex justify-center">
      <div
        class="w-screen container px-4 grid text-center sm:text-left gap-y-6 grid-cols-1 sm:grid-cols-6 lg:grid-cols-2 items-center gap-x-10"
      >
        <p
          class="text-[rgba(255,255,255,0.6)] sm:col-span-4 lg:col-span-1 text-xl xs:text-2xl md:text-3xl lg:text-4xl"
        >
          Already <span class="text-white font-semibold">1,400 members</span> and
          <span class="text-white font-semibold">1,000,000+ recordings</span>
          on Lingua Libre, join us.
        </p>
        <div class="flex justify-center sm:col-span-2 lg:col-span-1">
          <button class="bg-white text-black h-fit px-3 font-semibold py-2">
            Record your voice
          </button>
        </div>
      </div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-y-10 py-20 md:py-32 gap-x-14 lg:gap-x-28 items-center"
    >
      <div class="flex justify-center md:justify-end">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Music-technology-guitar-microphone-studio-amplifier-846852-pxhere_%28cropped%29.jpg/660px-Music-technology-guitar-microphone-studio-amplifier-846852-pxhere_%28cropped%29.jpg"
          alt=""
          class="shadow-[0px_6px_50px_rgba(0,0,0,0.25)] w-full max-w-[440px]"
        />
      </div>
      <div>
        <p class="font-semibold text-2xl lg:text-3xl mb-5">How to participate?</p>
        <div class="lg:text-lg flex flex-col gap-y-5 text-slate-700">
          <p>
            You can use Lingua Libre by exploring and reusing recordings, contribute to the corpus
            by recording words, or improve the website itself, in consultation with the community.
          </p>

          <p>
            The Record Wizard tab allows to record short audios (1 word, 1 phrase), to categorize
            them and to publish them on Wikimedia Commons from a computer or smartphone. To do so,
            you will need to log in or create a user account. The user guide is available on the
            help page.
          </p>

          <p>
            To modify the website pages, simply log in and click on Modify. To add more pages, the
            process is in two steps: enter the title of the page you wish to create in the search
            engine, with the prefix "LinguaLibre:". A message will appear inviting you to create the
            page. For any substantial modification, please consult the community beforehand.
          </p>
        </div>
      </div>
    </div>

    <div class="w-[200%] -translate-x-[25%] bg-[#d8dee4] py-6 md:py-12 flex justify-center">
      <div
        class="w-screen container px-4 grid grid-cols-1 gap-y-5 md:grid-cols-2 items-center gap-x-10"
      >
        <div>
          <p class="font-semibold text-xl mb-3 md:mb-5">Interact with the community</p>
          <p class="md:text-lg text-slate-600">
            Do not hesitate to inform the team of any element that could be improved. To do so,
            discussions take place in the Chat Room, on the mailing list or on Discord.
          </p>
        </div>

        <div class="flex flex-col gap-x-5 gap-y-3">
          <div class="flex gap-x-5 justify-start md:justify-end">
            <button class="bg-white text-black h-fit px-3 text-sm font-medium py-2">Discord</button>
            <button class="bg-white text-black h-fit px-3 text-sm font-medium py-2">
              Project on Meta
            </button>
          </div>

          <div class="flex gap-x-5 justify-start md:justify-end">
            <button class="bg-white text-black h-fit px-3 text-sm font-medium py-2">
              Chat Room
            </button>
            <button class="bg-white text-black h-fit px-3 text-sm font-medium py-2">
              Phabricator
            </button>
            <button class="bg-white text-black h-fit px-3 text-sm font-medium py-2">Github</button>
          </div>
        </div>
      </div>
    </div>

    <div class="py-14 md:py-24">
      <p class="font-semibold text-2xl md:text-3xl mb-4 md:mb-6">Why participate?</p>
      <div class="md:text-lg text-slate-700 mb-8">
        <p class="mb-5">
          Lingua Libre comes from the observation of several lacks on Wikimedia projects and on the
          web in general:
        </p>
        <ul class="list-disc ml-6 flex flex-col gap-y-5">
          <li>
            Lack of diversity: While the web is in theory open to everyone, its content is far from
            representing all languages proportionally. More than 50% of websites are in English;
            only 301 of the world's 7000+ languages have a free encyclopedia [1], with a content
            that is inferior in quality and quantity to those of more endowed languages such as
            Wikipedia in English[1],[2]. In addition, these websites host content that broadly
            reflects and meets Western standards and needs through the medium of the written word,
            which explains and helps to perpetuate their lack of linguistic diversity.
          </li>

          <li>
            Lack of orality: Although languages are essentially spoken (only 4,000 of the world's
            7,000 languages have a writing system)[4], knowledge sharing and communication via new
            information and communication technologies (NICTs) is mainly done in writing,
            particularly on the web, despite the rich multimedia format it allows. This mediation of
            the oral through the written word raises many barriers to contribution, such as the use
            of Unicode characters, the culture of the written word, the orthographic standardisation
            of the language or the literacy rate of the community.
          </li>

          <li>
            These lacks of diversity and orality limit the ability of Internet users to communicate
            and contribute online to various web platforms where they cannot find content and
            communities sharing their language. Among the regional minority languages that are oral
            or signed, they threaten in particular the poorly endowed ones, many of which are
            currently in danger of extinction and for whom inclusion on the web is a major challenge
            and opportunity.
          </li>

          <li>
            Indeed, of the 7000 languages in existence today, it is estimated that only 2500 will
            survive to the next century and only 250 (less than 5%!) will make their digital ascent
            — i.e. be used regularly for communication purposes in the digital space by native
            speakers who are comfortable on the web — a factor which is yet essential for their
            vitality[5]. Current initiatives by linguists and activists to document and share data,
            resources and content online in the languages to be preserved do not directly contribute
            to the development of a digitally-ascendant linguistic community of Internet users, and
            thus remain limited in their impact.
          </li>

          <li>
            Lingua Libre aims to make up for this lack of support by placing itself at the service
            of linguistic communities wishing to insert and promote their language into the digital
            space by exploring alternative means of communication to the written word, in the hope
            that this will free up online communication in a growing number of languages. This
            objective favours by its very nature regional minority languages that are poorly endowed
            in terms of oral or signed language, but also benefits more endowed languages that wish
            to highlight their oral and visual aspects. To fulfil its mission, Lingua Libre offers
            an online solution for mass recording, leading to the publication of a collaborative
            multilingual audiovisual corpus under free licence, whose vocation is information
            through consultation, and revitalisation by triggering the contribution of new language
            communities on Lingua Libre and then outside.
          </li>
        </ul>
      </div>

      <div class="mx-auto max-w-96 flex h-fit bg-[#e0e0e0] p-1">
        <div class="bg-white flex justify-center items-center w-36">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Coolest_Tool_Award_2020_square_logo.svg/180px-Coolest_Tool_Award_2020_square_logo.svg.png"
            alt=""
          />
        </div>
        <div class="flex flex-col justify-between gap-y-3 px-4 py-2 w-60 text-center">
          <p class="text-lg">Lingua Libre</p>
          <a class="text-lg leading-6 font-medium">2020 COOLEST TOOL AWARD WINNER</a>
          <p class="text-sm">
            in the category <br /><span class="text-blue-500 font-medium text-lg leading-6"
              >Diversity</span
            >
          </p>
        </div>
      </div>
    </div>

    <div class="py-10 md:py-16">
      <p class="text-3xl text-center font-semibold">Partners</p>
      <img
        src="/about/partners/Ministere_Culture_soutient.png"
        alt=""
        class="w-[400px] block mx-auto mb-7"
      />
      <div class="flex gap-4 justify-center flex-wrap gap-y-6">
        <img src="/about/partners/Lo_congres.jpg" class="w-[250px]" alt="" />
        <img src="/about/partners/Mdlnc.png" class="w-[150px]" alt="" />
        <img src="/about/partners/Olca.png" class="w-[150px]" alt="" />
      </div>
    </div>
  </div>
</template>

<script setup></script>
