<template>
  <div>
    <div
      class="bg-[url('/pattern_light.png')] py-32 w-full flex justify-center gap-y-8 flex-col px-8"
    >
      <p class="font-bold text-white text-3xl text-center font-serif">Need help?</p>

      <div class="flex relative items-center max-w-[450px] w-full self-center">
        <input type="text" placeholder="Search" class="border px-3 py-2 w-full" />
        <span class="absolute right-2 w-6">
          <CdxIcon :icon="cdxIconSearch" />
        </span>
      </div>
    </div>

    <div class="grid lg:grid-cols-3 py-20 justify-center gap-10">
      <div
        class="4-[0px_0px_16px_rgba(0,0,0,0.25)] max-w-[400px] w-full px-6 py-8 flex flex-col gap-y-5 items-center mx-auto"
      >
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Lingua_libre_illustration_-_audio_record.svg/225px-Lingua_libre_illustration_-_audio_record.svg.png"
          alt=""
          class="w-40"
        />

        <div class="flex flex-col gap-y-3 w-full ml-6">
          <p class="font-semibold text-2xl">Record</p>
          <ul class="flex flex-col gap-y-1 list-disc ml-10 text-lg">
            <li><a href="">Your first record</a></li>
            <li><a href="">Choosing a microphone</a></li>
            <li><a href="">Configure your microphone</a></li>
            <li><a href="">RecordWizard full Manual</a></li>
            <li><a href="">Interface</a></li>
            <li><a href="">Add a new language</a></li>
            <li><a href="">Create your own lists</a></li>
          </ul>
        </div>
      </div>

      <div
        class="shadow-[0px_0px_16px_rgba(0,0,0,0.25)] max-w-[400px] w-full px-6 py-8 flex flex-col gap-y-5 items-center mx-auto"
      >
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Lingua_libre_illustration_-_telescope.svg/225px-Lingua_libre_illustration_-_telescope.svg.png"
          alt=""
          class="w-40"
        />

        <div class="flex flex-col gap-y-3 w-full ml-6">
          <p class="font-semibold text-2xl">Explore</p>
          <ul class="flex flex-col gap-y-1 list-disc ml-10 text-lg">
            <li><a href="">Community</a></li>
            <li><a href="">Explore the Sound Library</a></li>
            <li><a href="">Querying Lingua Libre</a></li>
            <li><a href="">SPARQL queries examples</a></li>
            <li><a href="">Download datasets</a></li>
            <li><a href="">Bots</a></li>
          </ul>
        </div>
      </div>

      <div
        class="shadow-[0px_0px_16px_rgba(0,0,0,0.25)] max-w-[400px] w-full px-6 py-8 flex flex-col gap-y-5 items-center mx-auto"
      >
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Lingua_libre_illustration_-_interface.svg/291px-Lingua_libre_illustration_-_interface.svg.png"
          alt=""
          class="w-40"
        />

        <div class="flex flex-col gap-y-3 w-full ml-6">
          <p class="font-semibold text-2xl">Record</p>
          <ul class="flex flex-col gap-y-1 list-disc ml-10 text-lg">
            <li><a href="">Request Lingua Libre Bot on your wiki</a></li>
            <li><a href="">Translate the interface</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { CdxIcon } from '@wikimedia/codex'
import { cdxIconSearch } from '@wikimedia/codex-icons'
</script>
