<template>
  <div>
    <div class="grid grid-cols-12 relative">
      <div class="col-span-12 lg:col-span-7 py-12 lg:py-20">
        <p
          class="font-semibold text-2xl sm:text-3xl sm:leading-10 mb-12 max-w-[620px] lg:w-2/3 min-w-[400px]"
        >
          {{ $t('homeHeading') }}
        </p>
        <p class="text-xl font-light">Latest Recordings</p>
        <div class="flex flex-col gap-y-5 mt-6">
          <div
            class="shadow-[0px_6px_30px_rgba(0,0,0,0.2)] px-6 w-1/2 min-w-[300px] py-4 rounded-xl flex gap-x-6"
          >
            <div class="rounded-full bg-primary-blue w-fit bg-opacity-15 p-2">
              <div class="bg-primary-blue rounded-full pl-2.5 p-2 w-fit">
                <CdxIcon :icon="cdxIconPlay" class="invert" />
              </div>
            </div>
            <div>
              <p class="font-semibold text-lg">signings</p>
              <p class="text-[13px] font-extralight">English-Wodencafe</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-y-5 mt-6">
          <div
            class="shadow-[0px_6px_30px_rgba(0,0,0,0.2)] px-6 w-1/2 min-w-[300px] py-4 rounded-xl flex gap-x-6"
          >
            <div class="rounded-full bg-primary-blue w-fit bg-opacity-15 p-2">
              <div class="bg-primary-blue rounded-full pl-2.5 p-2 w-fit">
                <CdxIcon :icon="cdxIconPlay" class="invert" />
              </div>
            </div>
            <div>
              <p class="font-semibold text-lg">signings</p>
              <p class="text-[13px] font-extralight">English-Wodencafe</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-5 hidden lg:block min-w-screen">
        <div
          class="absolute -translate-x-[36%] shadow-[0px_6px_45px_rgba(0,0,0,0.25)] translate-y-[70%] z-10 w-[300px] h-[300px]"
        >
          <img
            class="w-full h-full object-cover"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Georges_Fodouop_Wiki_Indaba_2017.jpg/675px-Georges_Fodouop_Wiki_Indaba_2017.jpg"
            alt=""
          />
        </div>
        <img src="/pattern_light.png" class="absolute h-full object-cover" alt="" />
      </div>
    </div>
    <div class="py-12 lg:py-24 grid grid-cols-6 gap-y-6 justify-center sm:grid-cols-12">
      <div class="col-span-6 h-full lg:pl-28 sm:mr-[7vw]">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Young_girls_reading_-_Government_primary_school_in_Amman%2C_Jordan.jpg/1050px-Young_girls_reading_-_Government_primary_school_in_Amman%2C_Jordan.jpg"
          alt=""
          class="object-cover h-full"
        />
      </div>
      <div class="col-span-6 py-6">
        <p class="font-semibold text-xl lg:text-2xl mb-5">
          Keep linguistic diversity alive and preserve the fragile treasure of orality by recording
          the words, phrases and proverbs of your language.
        </p>

        <div class="font-light lg:text-lg flex flex-col gap-y-4">
          <p>
            You will contribute to forming a unique multilingual audiovisual corpus and improve the
            visibility and vitality of your language as you speak or sign it.
          </p>

          <p>
            You will interact with a community of individuals around the world who are sensitive to
            regional accents, sign languages, minority languages, and their diffusion.
          </p>

          <p>
            The words, phrases, songs collected thanks to you will improve some of the Wikimedia
            projects (such as Wikipedia and the Wiktionary) and will help specialists in their work.
          </p>
        </div>
      </div>
    </div>

    <div class="py-2 pb-10 lg:py-20 grid grid-cols-6 gap-y-6 sm:grid-cols-12">
      <div class="col-span-6 mr-[7vw]">
        <p class="text-xl sm:text-2xl lg:text-4xl font-medium lg:leading-[42px] mb-2 sm:mb-3">
          “Through the language we speak resound the voices of the peoples who have died out”
        </p>
        <p class="font-light lg:text-lg ml-1">– Vassilis Alexakis</p>
      </div>
      <div class="col-span-6 grid grid-cols-2">
        <div class="flex flex-col gap-y-1 text-lg">
          <p class="text-slate-600">Atikamekw</p>
          <p class="text-slate-600">Catalan</p>
          <p class="text-slate-600">French</p>
          <p class="text-slate-600">Swahili</p>
        </div>

        <div class="flex flex-col gap-y-1 text-lg">
          <p class="text-slate-600">Afrikaans</p>
          <p class="text-slate-600">Korean</p>
          <p class="text-slate-600">Korean</p>
          <p class="text-slate-600">And more than 100 other languages</p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-6 sm:grid-cols-12 py-10 gap-y-12">
      <div class="col-span-6 mr-[3vw]">
        <img src="/home-image.png" alt="" />
      </div>
      <div class="col-span-6 flex flex-col justify-center items-center gap-3 sm:gap-6">
        <p class="text-xl">Record Voices</p>
        <div
          class="rounded-full scale-90 origin-top sm:scale-100 bg-primary-blue w-fit bg-opacity-15 p-7"
        >
          <div class="bg-primary-blue rounded-full p-12">
            <Mic class="invert scale-[2.2]" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { CdxIcon } from '@wikimedia/codex'
import { cdxIconPlay } from '@wikimedia/codex-icons'
import Mic from '../components/icons/Mic.vue'
</script>
