<template>
  <div>
    <div v-if="isAuthenticated" id="record-wizard" class="py-10">
      <div class="record-header-section flex justify-between items-center w-full mb-8">
          <h2 class="text-3xl font-semibold">Record your voice</h2>   
          <div class="login-cred">
            <TheLoginButton />
          </div>         
      </div>
      <div class="flex items-start flex-col lg:flex-row gap-x-20">
        <ol
          id="rw-steps"
          class="flex mb-4 flex-row lg:flex-col gap-x-5 sm:gap-x-2 gap-y-3 lg:gap-y-6 sm:justify-between w-full lg:w-auto flex-wrap"
        >
        <li
       v-for="(step, index) in steps"
  :key="index"
  :class="currentStep == index ? 'active' : ''"
  class="flex gap-x-1 lg:gap-x-3 items-center flex-col gap-y-1 lg:flex-row"
>
  <span class="rw-step-marker w-8 h-8 lg:w-10 lg:h-10 bg-slate-300 flex items-center justify-center rounded-full text-center flex-shrink-0">
    <CdxIcon v-if="currentStep > index" :icon="cdxIconCheck" />
    <span v-else>{{ index + 1 }}</span>
  </span>
  <span class="text-center lg:text-left">
    {{ step.name }}
  </span>
</li>
        </ol>
        <div class="steps-container self-start w-full">
          <router-view
            class="rounded-xl shadow-[0px_8px_20px_rgba(0,0,0,0.17)] w-full mb-10"
            @can-go-to-next-step="allowGoingToNextStep()"
            @toggle-previous-btn="showPreviousButton = !showPreviousButton"
            @set-current-step="(step) => (currentStep = step)"
            @can-not-go-to-next-step="disallowGoingToNextStep()"
          ></router-view>

          <div class="flex items-center gap-x-2">
            <CdxButton
              v-if="currentStep != 0 && showPreviousButton"
              action="progressive"
              weight="quiet"
              size="large"
              @click="previousStep()"
            >
              <CdxIcon :icon="cdxIconArrowPrevious" />
              Previous
            </CdxButton>

            <CdxButton
              v-if="currentStep + 1 < steps.length"
              action="progressive"
              weight="primary"
              size="large"
              :disabled="!steps[currentStep].canGoToNextStep"
              @click="nextStep()"
            >
              Next
              <CdxIcon :icon="cdxIconArrowNext" />
            </CdxButton>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="mt-4 flex flex-row justify-between">
  <!-- Left Side: Loginstep -->
  <div class="w-1/4">
    <Loginstep />
  </div>

  <!-- Right Side: Login Message Card -->
  <div class="w-3/4  bg-white shadow-md rounded-lg p-6 flex flex-col justify-center items-center h-full">
    <p class="text-lg mb-4 text-center">You must be logged in to use the RecordWizard.</p>
    <CdxButton action="progressive" class="w-fit flex items-center gap-x-2" weight="primary" @click="goToLogin()">
      <CdxIcon :icon="cdxIconLogoWikimediaCommons" /> Login through Wikimedia Commons
    </CdxButton>
  </div>
</div>

  </div>
</template>

<script setup>
import { ref } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { onMounted } from 'vue'
import { CdxButton, CdxIcon } from '@wikimedia/codex'
import {
  cdxIconArrowPrevious,
  cdxIconArrowNext,
  cdxIconCheck,
  cdxIconLogoWikimediaCommons,
} from '@wikimedia/codex-icons'
import VueCookies from 'vue-cookies'
import { useRecordWizardStore } from '@/stores/recordwizard'
import TheLoginButton from "../components/TheLoginButton.vue"
import Loginstep from "../components/RecordWizard/LoginStep.vue"

const store = useRecordWizardStore()

const isAuthenticated = VueCookies.get('sessionid') || ''
const router = useRouter()
const route = useRoute()

const steps = ref([
  {
    route: 'record-wizard.locutor',
    name: 'Locutor',
    canGoToNextStep: false,
    nextStepAction: 'saveLocuter',
  },
  {
    route: 'record-wizard.language',
    name: 'Language',
    canGoToNextStep: false,
    previousStepAction: 'getLocutors',
  },
  { route: 'record-wizard.hardware-check', name: 'Hardware Check', canGoToNextStep: false },
  { route: 'record-wizard.word-list', name: 'Word List', canGoToNextStep: false },
  { route: 'record-wizard.record', name: 'Record', canGoToNextStep: false },
  { route: 'record-wizard.review', name: 'Review', canGoToNextStep: false },
])

const currentStep = ref(0)

onMounted(() => {
  window.addEventListener('beforeunload', (e) => {
    if (route.name !== steps.value[0].route)
      e.returnValue = 'Are you sure you want to discard all the changes?'
  })
  if (steps.value[currentStep.value].route !== route.name)
    router.push({ name: steps.value[0].route })
})
const showPreviousButton = ref(true)

function nextStep() {
  const nextAction = steps.value[currentStep.value].nextStepAction
  nextAction && store[nextAction]()
  router.push({ name: steps.value[++currentStep.value].route })
}

function previousStep() {
  router.push({ name: steps.value[--currentStep.value].route })
}

function allowGoingToNextStep() {
  steps.value[currentStep.value].canGoToNextStep = true
}

function disallowGoingToNextStep() {
  steps.value[currentStep.value].canGoToNextStep = false
}

function goToLogin() {
  window.location.replace(import.meta.env.VITE_HOST + '/oauth/login/mediawiki')
}
</script>

<style scoped>
.steps-container {
  flex-grow: 1;
}

#rw-steps {
  list-style: none;
  font-size: 16px;
  padding: 0px;
}

#rw-steps li {
  font-weight: 600;
}

.rw-step-marker {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  color: white;
  font-weight: bold;
}

.rw-step-marker .cdx-icon {
  color: white;
}

#rw-steps li.active {
  color: #3366cc;
}
#rw-steps li.active .rw-step-marker {
  background-color: #3366cc;
}

#rw-steps li.active ~ li {
  font-weight: normal;
}
</style>
