@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0 auto;
  font-weight: normal;
}

a {
  color: #3366cc;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

b {
  font-weight: bold;
}

.scroll-container::-webkit-scrollbar {
  width: 7px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #6f7f98c9;
}

