<template>
  <div class="fixed top-0 flex flex-col w-screen h-screen z-30 bg-slate-100 pt-12">
    <span class="absolute right-4 top-5" @click="toggleNavbar">
      <CdxIcon :icon="cdxIconClose" />
    </span>
    <div class="flex relative items-center mx-4 my-4">
      <input type="text" placeholder="Search" class="border px-3 py-3 bg-transparent w-full" />
      <CdxIcon :icon="cdxIconSearch" class="absolute right-2 w-6" />
    </div>
    <div>
      <div class="px-5 py-5 border-b">
        <a href="/record" class="text-black">Record Wizard</a>
      </div>
      <div class="px-5 py-5 border-b">
        <span>Discussion</span>
      </div>
      <div class="px-5 py-5 border-b">
        <span>Statistics</span>
      </div>
      <div class="px-5 py-5 border-b">
        <span>Sound Library</span>
      </div>
      <div class="px-5 py-5 border-b">
        <a href="/help" class="text-black">Help</a>
      </div>
      <div class="px-5 py-5 border-b">
        <span>Datasets</span>
      </div>
      <div class="px-5 py-5 border-b">
        <a href="/about" class="text-black">About</a>
      </div>
    </div>
  </div>
</template>

<script setup>
import { CdxIcon } from '@wikimedia/codex'
import { cdxIconClose, cdxIconSearch } from '@wikimedia/codex-icons'
const props = defineProps({
  toggleNavbar: {
    type: Function,
    required: true,
  },
})
</script>
