<template>
  <footer
    class="container mx-auto px-4 border-t py-10 flex flex-col md:flex-row gap-y-8 justify-between"
  >
    <div class="flex flex-col gap-y-4">
      <div class="flex flex-col gap-y-1 text-slate-600 text-xs">
        <p>
          Content is available under
          <a href="https://creativecommons.org/licenses/by-sa/4.0/"
            >Creative Commons 4.0 Attribution-ShareAlike</a
          >
          unless otherwise noted.
        </p>
      </div>

      <!-- Links -->
      <div class="flex font-medium gap-x-4 sm:gap-x-6 gap-y-2 flex-wrap">
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/mention-legales">Mentions légales</a>
        <a href="https://www.wikimedia.fr/">About Wikimedia France</a>
        <a href="mailto:info@wikimedia.fr">Contact</a>
        <a href="https://gitlab.wikimedia.org/repos/wikimedia-france/lingua-libre/lingua-libre"
          >Source Code</a
        >
      </div>
      <!-- Socials -->
      <div class="flex gap-x-4 sm:gap-x-6 font-medium">
        <p class="flex gap-x-0.5 sm:gap-x-1 items-center">
          <FontAwesomeIcon icon="fa-brands fa-mastodon" />
          <a href="https://wikis.world/@lingualibre" rel="me">Mastodon</a>
        </p>
        <p class="flex gap-x-1 items-center">
          <FontAwesomeIcon icon="fa-brands fa-twitter" />
          <a href="https://twitter.com/LingLibre_WMFr">Twitter</a>
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-y-5">
      <div class="flex gap-x-6 justify-center">
        <div class="flex flex-col gap-y-1">
          <p class="font-medium text-center">Sponsored by:</p>
          <img src="/logo_wikimedia_france.svg" class="w-40" alt="Wikimedia France logo" />
        </div>

        <div class="flex flex-col gap-y-1">
          <p class="font-medium text-center">Powered by:</p>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/3/36/Wikidata_stamp_rec_light.png"
            class="w-40"
            alt="Wikimedia France logo"
          />
        </div>
      </div>

      <p class="text-center">
        Made with <CdxIcon :icon="cdxIconHeart" icon-label="love" class="dark" /> by the Lingua
        Libre community.
      </p>
    </div>
  </footer>
</template>

<script setup>
import { CdxIcon } from '@wikimedia/codex'
import { cdxIconHeart } from '@wikimedia/codex-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
</script>
