<template>
  <div class="lingualibre-login">
    <CdxButton action="progressive" weight="quiet" @click="changeMode">
      {{ darkModeLabel }}
      {{ console.log('jatnder', darkModeLabel == 'Light') }}
      <CdxIcon size="small" :icon="darkModeLabel == 'Light' ? cdxIconBright : cdxIconMoon" />
    </CdxButton>
  </div>
</template>

<script setup>
import { CdxButton, CdxIcon } from '@wikimedia/codex'
import { cdxIconBright, cdxIconMoon } from '@wikimedia/codex-icons'
import { useDark, useToggle } from '@vueuse/core'
import { computed } from 'vue'

const isDark = useDark()
const toggleDark = useToggle(isDark)
isDark.value
  ? document.body.classList.add('dark-mode')
  : document.body.classList.remove('dark-mode')
const darkModeLabel = computed(() => (isDark.value ? 'Dark' : 'Light'))

const changeMode = function () {
  toggleDark()
  isDark.value
    ? document.body.classList.add('dark-mode')
    : document.body.classList.remove('dark-mode')
}
</script>

<style scoped>
.lingualibre-login {
  flex: auto;
}
</style>
