<template>
  <div>
    <cdx-lookup
      v-model:selected="selection"
      :menu-items="menuItems"
      :menu-config="menuConfig"
      aria-label="Lookup with fetched results demo"
      :initial-input-value="modelValue"
      @input="onInput"
      @load-more="onLoadMore"
    >
      <template #no-results> No results found. </template>
    </cdx-lookup>
  </div>
</template>

<script>
import { defineComponent, ref, defineProps, defineEmits, watch } from 'vue'
import { CdxLookup } from '@wikimedia/codex'

export default defineComponent({
  name: 'LookupWithFetch',
  components: { CdxLookup },
  props: {
    modelValue: {
      type: String,
      required: true,
    },
  },
  setup(props, { emit }) {
    const menuItems = ref([])
    const currentSearchTerm = ref('')
    const selection = ref(props.modelValue || '')

    watch(selection, (newValue) => {
      emit('update:modelValue', newValue)
    })

    function fetchResults(searchTerm, offset) {
      const params = new URLSearchParams({
        origin: '*',
        action: 'wbsearchentities',
        format: 'json',
        language: 'en',
        search: searchTerm,
        useLang: 'en',
        limit: '7',
      })
      if (offset) {
        params.set('continue', String(offset))
      }
      return fetch(`https://www.wikidata.org/w/api.php?${params.toString()}`).then((response) =>
        response.json(),
      )
    }
    function onInput(value) {
      emit('update:modelValue', value)
      // Internally track the current search term.
      currentSearchTerm.value = value

      // Do nothing if we have no input.
      if (!value) {
        menuItems.value = []
        return
      }

      fetchResults(value)
        .then((data) => {
          // Make sure this data is still relevant first.
          if (currentSearchTerm.value !== value) {
            return
          }

          // Reset the menu items if there are no results.
          if (!data.search || data.search.length === 0) {
            menuItems.value = []
            return
          }

          // Build an array of menu items.
          const results = data.search.map((result) => {
            return {
              label: result.label,
              value: result.id,
              description: result.description,
            }
          })

          // Update menuItems.
          menuItems.value = results
        })
        .catch(() => {
          // On error, set results to empty.
          menuItems.value = []
        })
    }

    function deduplicateResults(results) {
      const seen = new Set(menuItems.value.map((result) => result.value))
      return results.filter((result) => !seen.has(result.value))
    }

    function onLoadMore() {
      if (!currentSearchTerm.value) {
        return
      }

      fetchResults(currentSearchTerm.value, menuItems.value.length).then((data) => {
        if (!data.search || data.search.length === 0) {
          return
        }

        const results = data.search.map((result) => {
          return {
            label: result.label,
            value: result.id,
            description: result.description,
          }
        })

        // Update menuItems.
        const deduplicatedResults = deduplicateResults(results)
        menuItems.value.push(...deduplicatedResults)
      })
    }

    const menuConfig = {
      visibleItemLimit: 6,
    }

    return {
      selection,
      menuItems,
      menuConfig,
      onInput,
      onLoadMore,
    }
  },
})
</script>
