<template>
  <cdx-dialog
    :open="open"
    title="Local List"
    close-button-label="Close"
    :primary-action="primaryAction"
    :default-action="defaultAction"
    class="text-black"
    @update:open="emit('update:open', false)"
    @primary="localListSubmit"
    @default="emit('update:open', false)"
  >
    <div class="mb-6">
      <p class="font-medium mb-1">Title</p>
      <cdx-lookup
        v-model:selected="titleName"
        :menu-items="titles"
        :menu-config="menuConfig"
        aria-label="Lookup with fetched results demo"
        @input="onInput"
        @load-more="onLoadMore"
      >
        <template #no-results> No results found. </template>
      </cdx-lookup>
    </div>

    <div class="mb-5">
      <p class="font-medium mb-1">Number of words to get?</p>
      <CdxTextInput
        v-model="numberOfWords"
        input-type="number"
        class="mb-3"
        placeholder="Number of words"
      />
    </div>

    <cdx-toggle-switch v-model="removeRecordedWords"
      >Exclude words you have already recorded</cdx-toggle-switch
    >
  </cdx-dialog>
</template>

<script setup>
import { CdxDialog, CdxToggleSwitch, CdxLookup, CdxTextInput } from '@wikimedia/codex'
import { cdxIconTrash, cdxIconLogoWikipedia, cdxIconMapPin } from '@wikimedia/codex-icons'
import { useRecordWizardStore } from '@/stores/recordwizard'
import makeApiCall from '@/utils/makeApiCall.js'
import { defineProps, defineEmits, ref } from 'vue'
import getLocutorRecordings from '@/utils/getLocutorRecordings.js'

const numberOfWords = ref(100)
const error = ref(null)
const titleName = ref(null)
const titles = ref([])
const menuConfig = {
  visibleItemLimit: 6,
}

const props = defineProps({
  open: Boolean,
  loading: Boolean,
  warning: String,
})

const emit = defineEmits(['update:open', 'canGoToNextStep', 'update:loading', 'update:warning'])

const store = useRecordWizardStore()

const primaryAction = {
  label: 'Save',
  actionType: 'progressive',
}

const defaultAction = {
  label: 'Cancel',
}

const removeRecordedWords = ref(false)

async function localListSubmit() {
  emit('update:open', false)
  emit('update:loading', true)
  const response = await makeApiCall(
    'get',
    `https://lingualibre.org/api.php`,
    (error) => {},
    false,
    {},
    {},
    {
      action: 'query',
      format: 'json',
      prop: 'revisions',
      titles: titleName.value,
      redirects: 1,
      formatversion: 2,
      rvprop: 'content',
      rvlimit: 1,
      origin: '*',
    },
  )
  console.log(response.query)
  let titles = response.query.pages[0].revisions[0].content.replaceAll('# ', '')
  titles = titles
    .replace(/(<!--.*?-->)|(<!--[\S\s]+?-->)|(<!--[\S\s]*?$)/g, '') // removes HTML comments (potentially multilines)
    .replace(/({{.*?}}\s*\n?)/g, '') // removes wiki templates
    .replace(/(<noinclude>((.|\n)*?)<\/noinclude>)/g, '') // removes wiki noinclude tags (potentially multilines)
    .replace(/( → .*)/g, '') // removes lines conventional ` → ` + secondary data, generally L2 translation
    .replace(/^[#*]\s(\[item:(.+?)\]|(.+?))\s\[.+$/gim, '') // removes conventional `[ ]` metadata
  titles = titles.split('\n')
  titles = titles
    .map((title) => {
      return title.replace(/(^==+\s*|\s*==+\s*$)/g, '') // removes sections titles `== … ==`, `=== … ===`, `==== … ====` and noise spaces
    })
    .filter((el) => el !== '')

  if (removeRecordedWords.value) {
    const recordedWords = await getLocutorRecordings()
    titles = titles.filter((title) => !recordedWords.includes(title))
  }

  // Filtering titles to only include correct words

  if (numberOfWords.value > titles.length)
    emit('update:warning', `Only ${titles.length} words are available in this list`)
  store.addWordsArray(titles.slice(0, numberOfWords.value))
  emit('canGoToNextStep')
  emit('update:loading', false)
}

const currentSearchTerm = ref('')

function fetchResults(searchTerm, offset) {
  const params = new URLSearchParams({
    action: 'query',
    format: 'json',
    origin: '*',
    prop: 'info|pageprops',
    generator: 'prefixsearch',
    gpssearch: searchTerm,
    gpsnamespace: 142,
    gpslimit: 10,
    ppprop: 'disambiguation',
    redirects: true,
  })
  if (offset) {
    params.set('continue', String(offset))
  }
  return fetch(`https://lingualibre.org/api.php?${params.toString()}`).then((response) =>
    response.json(),
  )
}

function onInput(value) {
  // Internally track the current search term.
  currentSearchTerm.value = value

  // Do nothing if we have no input.
  if (!value) {
    titles.value = []
    return
  }

  fetchResults(value)
    .then((data) => {
      // Make sure this data is still relevant first.
      if (currentSearchTerm.value !== value) {
        return
      }

      // Build an array of menu items.
      const results = Object.values(data.query.pages).map((result) => {
        return {
          label: result.title,
          value: result.title,
        }
      })

      // Update titles.
      titles.value = results
    })
    .catch(() => {
      // On error, set results to empty.
      titles.value = []
    })
}

function deduplicateResults(results) {
  const seen = new Set(titles.value.map((result) => result.value))
  return results.filter((result) => !seen.has(result.value))
}

function onLoadMore() {
  if (!currentSearchTerm.value) {
    return
  }

  fetchResults(currentSearchTerm.value, titles.value.length).then((data) => {
    const results = Object.values(data.query.pages).map((result) => {
      return {
        label: result.title,
        value: result.title,
      }
    })

    // Update titles.
    const deduplicatedResults = deduplicateResults(results)
    titles.value.push(...deduplicatedResults)
  })
}
</script>
