<template>
    <div class="flex gap-x-4"> 
      <ol id="rw-steps" class="flex mb-4 flex-row lg:flex-col gap-x-4 sm:gap-x-1 gap-y-2 lg:gap-y-4 sm:justify-between w-full lg:w-auto flex-wrap">
        <li
          v-for="(step, index) in steps"
          :key="index"
          class="flex gap-x-1 lg:gap-x-2 items-center flex-col gap-y-1 lg:flex-row"
        >
          <span 
            :class="[
              index === 0 ? 'bg-[#3366cc] text-white' : 'bg-slate-300 text-black', // Conditional background and text color
              'rw-step-marker w-6 h-6 lg:w-8 lg:h-8 flex items-center justify-center rounded-full text-center flex-shrink-0 text-sm font-bold'
            ]"
          >
            {{ index }} <!-- Display step number -->
          </span>
          <span class="text-center lg:text-left text-sm "> 
            {{ step }} <!-- Display step name -->
          </span>
        </li>
      </ol>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        steps: [
          'Login',
          'Locutor',
          'Language',
          'Hardware Check',
          'Word List',
          'Record',
          'Review'
        ]
      };
    }
  }
  </script>
  