<template>
  <cdx-dialog
    :open="open"
    title="Wikimedia Category"
    close-button-label="Close"
    :primary-action="primaryAction"
    :default-action="defaultAction"
    class="text-black"
    @update:open="emit('update:open', false)"
    @primary="nearbySubmit"
    @default="emit('update:open', false)"
  >
    <div class="mb-5">
      <p class="mb-1 font-medium">Source</p>
      <cdx-select
        v-model:selected="language"
        :menu-items="languages"
        default-label="Choose an option"
        class="w-full mb-3"
      />

      <cdx-select
        v-model:selected="source"
        :menu-items="sources"
        default-label="Choose an option"
        class="w-full"
      />
      <p class="text-red-500 mb-2">{{ error }}</p>
    </div>

    <div class="mb-5">
      <p class="font-medium mb-1">Category name</p>
      <cdx-lookup
        v-model:selected="categoryName"
        :menu-items="categories"
        :menu-config="menuConfig"
        aria-label="Lookup with fetched results demo"
        @input="onInput"
        @load-more="onLoadMore"
      >
        <template #no-results> No results found. </template>
      </cdx-lookup>
    </div>

    <div class="mb-5">
      <p class="font-medium mb-1">Number of words to get?</p>
      <CdxTextInput
        v-model="numberOfWords"
        input-type="number"
        class="mb-3"
        placeholder="Number of words"
      />
    </div>

    <cdx-toggle-switch v-model="removeRecordedWords"
      >Exclude words you have already recorded</cdx-toggle-switch
    >
  </cdx-dialog>
</template>

<script setup>
import {
  CdxButton,
  CdxSelect,
  CdxField,
  CdxTextInput,
  CdxIcon,
  CdxDialog,
  CdxToggleSwitch,
  CdxLookup,
} from '@wikimedia/codex'
import { cdxIconTrash, cdxIconLogoWikipedia, cdxIconMapPin } from '@wikimedia/codex-icons'
import { useRecordWizardStore } from '@/stores/recordwizard'
import makeApiCall from '@/utils/makeApiCall.js'
import { defineProps, defineEmits, ref } from 'vue'
import getLocutorRecordings from '@/utils/getLocutorRecordings.js'

const currentSearchTerm = ref('')
const removeRecordedWords = ref(false)

function fetchResults(searchTerm, offset) {
  const params = new URLSearchParams({
    action: 'query',
    format: 'json',
    origin: '*',
    prop: 'info|pageprops',
    generator: 'prefixsearch',
    gpssearch: searchTerm,
    gpsnamespace: 14,
    gpslimit: 10,
    ppprop: 'disambiguation',
    redirects: true,
  })
  if (offset) {
    params.set('continue', String(offset))
  }
  return fetch(`https://${language.value}.${source.value}.org/w/api.php?${params.toString()}`).then(
    (response) => response.json(),
  )
}

function onInput(value) {
  // Internally track the current search term.
  currentSearchTerm.value = value

  // Do nothing if we have no input.
  if (!value) {
    categories.value = []
    return
  }

  fetchResults(value)
    .then((data) => {
      // Make sure this data is still relevant first.
      if (currentSearchTerm.value !== value) {
        return
      }

      // Build an array of menu items.
      const results = Object.values(data.query.pages).map((result) => {
        return {
          label: result.title,
          value: result.title,
        }
      })

      // Update categories.
      categories.value = results
    })
    .catch(() => {
      // On error, set results to empty.
      categories.value = []
    })
}

function deduplicateResults(results) {
  const seen = new Set(categories.value.map((result) => result.value))
  return results.filter((result) => !seen.has(result.value))
}

function onLoadMore() {
  if (!currentSearchTerm.value) {
    return
  }

  fetchResults(currentSearchTerm.value, categories.value.length).then((data) => {
    const results = Object.values(data.query.pages).map((result) => {
      return {
        label: result.title,
        value: result.title,
      }
    })

    // Update categories.
    const deduplicatedResults = deduplicateResults(results)
    categories.value.push(...deduplicatedResults)
  })
}

const numberOfWords = ref(100)
const language = ref(null)
const source = ref(null)
const categoryName = ref(null)
const categories = ref([])
const error = ref(null)

const menuConfig = {
  visibleItemLimit: 6,
}

const languages = [
  { label: 'en', value: 'en' },
  { label: 'fr', value: 'fr' },
  { label: 'de', value: 'de' },
]

const sources = [
  { label: 'Wiktionary', value: 'wiktionary' },
  { label: 'Wikipedia', value: 'wikipedia' },
]

const props = defineProps({
  open: Boolean,
})

const emit = defineEmits(['update:open', 'canGoToNextStep'])

const store = useRecordWizardStore()

const primaryAction = {
  label: 'Save',
  actionType: 'progressive',
}

const defaultAction = {
  label: 'Cancel',
}

async function nearbySubmit() {
  emit('update:open', false)
  const response = await makeApiCall(
    'get',
    `https://${language.value}.${source.value}.org/w/api.php`,
    (error) => {},
    false,
    {},
    {},
    {
      action: 'query',
      list: 'categorymembers',
      cmtitle: categoryName.value,
      cmlimit: removeRecordedWords.value ? 1000000 : numberOfWords.value,
      format: 'json',
      origin: '*',
    },
  )
  let titles = response.query.categorymembers.map((item) => {
    return item.title
  })

  if(removeRecordedWords.value){
    const recordedWords = await getLocutorRecordings()
    titles = titles.filter(title => !recordedWords.includes(title))
  }
  store.addWordsArray(titles.slice(0, numberOfWords.value))
  emit('canGoToNextStep')
}
</script>
